
.menu {
  background: #FFFFFF;
  opacity: 0;
  pointer-events: none;
  transform-origin: top left;
  overflow: hidden;
  border-radius: 3px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
  will-change: transform;
}

.menu__contents {
  transform-origin: top left;
  will-change: transform;
}

.menu__toggle {
  text-align: left;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
  width: 100%;
}

.menu__title {
  padding: 0;
  margin: 0;
  font-weight: 500;
  display: inline-block;
  padding: 8px 12px;
}

.menu__items {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  background: #FFFFFF;
  z-index: 1;
}

.menu__item {
  padding: 8px 12px;
  border-top: 1px solid #DDD;
}

.menu--active {
  opacity: 1;
  pointer-events: auto;
}

.menu--expanded {
  animation-name: menuExpandAnimation;
  animation-duration: 0.2s;
  animation-timing-function: linear;
}

.menu__contents--expanded {
  animation-name: menuExpandContentsAnimation;
  animation-duration: 0.2s;
  animation-timing-function: linear;
}

.menu--collapsed {
  animation-name: menuCollapseAnimation;
  animation-duration: 0.2s;
  animation-timing-function: linear;
}

.menu__contents--collapsed {
  animation-name: menuCollapseContentsAnimation;
  animation-duration: 0.2s;
  animation-timing-function: linear;
}
